* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 22%;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #8a7c7c;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.btn1 {
  margin: 10px;
  padding: 5px 20px;
  border: 1px solid red;
  background-color: rgba(36, 85, 52, 0.342);
}

.btn2 {
  margin: 10px;
  padding: 5px 20px;
  border: 1px solid red;
  background-color: rgba(36, 85, 52, 0.342);
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(160, 143, 143);
  flex-wrap: wrap;
  height: 500px;
  box-shadow: 5px 5px 5px 5px rgba(57, 182, 99, 0.555);
}

.sub-form2 {
  margin-top: 30px;
}

.submit {
  margin-top: 30px;
  width: 500px;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 200;
  border: none;
  border: solid 2px black;
  background: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submit:hover {
  background-color: rgb(153, 165, 179);
  animation-name: submitAnimation;
  color: white;
}

input {
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  text-transform: capitalize;
}

label {
  font-size: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2.title:first-letter {
  text-transform: uppercase;
}
